* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.izquierda, .derecha {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.C{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    width: 450px;
    margin-left: auto;
    padding: 20px;
    flex: 10;
  background-color: rgb(174, 173, 230);
}
 .A{
    height: 20vh;
    text-align: center;
  background-color: rgb(191, 230, 173);
  
 }
  .F {
  height: 50vh;
  width: 1600px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(230, 173, 221);
  text-align: center;
}

.D {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30vh;
  width: 1500px;
  background-color: lightgreen;
}

.B {
  height: 20vh;
  width: 955px;
  text-align: center;
  background-color: lightcoral;
  list-style-position: inside;
}
