* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.izquierda, .derecha {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.C{
    height: 30vh;
  background-color: rgb(174, 173, 230);
}
 .A{
    height: 30vh;
  background-color: rgb(191, 230, 173);
 }
  .F {
  height: 30vh;
  background-color: rgb(230, 173, 221);
}

.D {
  flex: 1;
  background-color: lightgreen;
}

.B {
  flex: 1;
  background-color: lightcoral;
}