html, body{
  height: 100%;
 margin: 0;
 padding: 0;
}
.contenedor{
  height: 70%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.izquierda{
  height: 100%;
  width: 70%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.C{
  flex: 3;
  font-size: 10px;
  flex-direction: column;
  background-color: aqua;
}
.D{
 flex: 4;
  background-color: blue;
}
.derecha{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.B{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color:chartreuse;
  margin: 0;
  padding: 0;
}
.inferior{
  height: 30%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.A{
  height: 100%;
  width: 50%;
  background-color: crimson;
  font-size: 11px;
  margin: 0;
  padding: 0;
}
.F{
  height: 100%;
  width: 50%;
  background-color: gold;
  margin: 0;
  padding: 0;
}